
/* :focus: outline:none */


main {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open sans', sans-serif;
  font-weight: 400;
  margin: 0 auto;
  width: 1440px;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #07043B;
  font-family: 'Raleway', sans-serif;
}

header {
  height:49px;
  margin: 0 80px 86px 80px;
  padding-top:65px;
  position:relative;
}

ul{
  list-style: none;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  margin: 15px 0 15px 0;
  padding: 0;
  position:absolute;
  right: 0px;
  top: 65px;
  width: 271px;
  height:19px;
}

.main-nav li {
  text-align: center;
}

a {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size:16px;
  font-weight:400;
  vertical-align: top;
}

a:visited a:link {
  color: #07043B;
  font-weight:400;
}



.allyourfiles {
  display: flex;
  align-items:flex-start;
  justify-content:space-between;
  height:474px;
  /* margin-top:77; */
  margin-bottom: 164px;
}

.allyourfiles__textbox {
  flex:0 0 600px;
  height:474px;
  margin: 77px 0 2px 80px;
}


.allyourfiles__textbox h1 {
  margin:0;
}

.allyourfiles__textbox p{
  color:hsl(243, 87.3%, 12.4%);
  font-size: 17px;
  line-height:1.412;
  letter-spacing: 0.53px;
  margin:15px 0 25px 0;
}

.allyourfiles__textbox--input {
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  color: #bfbfbf;
  letter-spacing: 1px;
  padding: 6px 0 0 20px;
  height: 45px;
  width: 320px;
}

.allyourfiles__textbox--btn {
  border: none;
  border-radius: 2px;
  background-color: #3065f8;
  color: white;
  letter-spacing: 1px;
  vertical-align: middle;
  margin: 0 0 6px 12px;
  padding: 0 0 0 0;
  height: 45px;
  width: 200px;
}

.allyourfiles__img {
  flex:0 0 600px;
  padding-right:80px;
  height: 474px;
}

.curve_img {
  margin: 0 0 0 0;
  display: block;
  width:1440px;
}

.stayproductive {
  display: flex;
  justify-content: space-between;
  background-color:#F8F8FE;
  margin-bottom: 0;
  height:670px;
}

.stayproductive__txtbox {
  flex: 0 0 700px;
  margin:0 0 0 80px;
}

.stayproductive__txtbox h1{
  margin: 58px 0 30px 0;
}

.stayproductive--txt{
  font-weight: 400;
  line-height:1.5;
  margin: 0 170px 16px 0;
}

.stayproductive__txtbox a{
  color:#3DA08F;
}

.stayproductive__txtbox img{
  vertical-align: middle;
  /* martini-top:a-ok(y); */
}

.stayproductive__underline {
  border-top: 1px solid #3DA08F;
  width:166px;
  height:1px;
  margin:4px 0 44px 0;
}

.stayproductive__card {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 0 10px 5px hsla(0, 0%, 22%, 0.05);
  font-size: 13px;
  line-height: 1.769;
  letter-spacing: 0.5px;
  width:356px;
  height:215px;
  color:#07043B;
  position:relative;
}

.stayproductive__card--quotesign{
font-family: 'Nunito Sans', sans-serif;
font-size:45px;
color:#07043B;
display:inline-block;
line-height: 1.5;
margin:0;
position:absolute;
top: 11px;
margin: 0 0 0 33px;
}

.stayproductive__card--txt{
  padding: 50px 34px 0 33px;
  margin-bottom:17px;
}

.stayproductive__card__signaturebox {
  display: flex;
}

.stayproductive__card img {
  border-radius: 50%;
  width:32px;
  height:32px;
  margin-left:33px;
}

.stayproductive__card__signaturebox--textbox {
  flex:0 0 300px;
  vertical-align: middle;
}

.stayproductive__card--name {
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.55px;
  margin: 0 0 0 8px;
}

.stayproductive__card--title {
  font-size: 8px;
  letter-spacing:0.55px;
  line-height: 1.875;
  margin: 0 0 0 8px;
}

.stayproductive__img{
  max-width: 100%;
  margin:88px 80px 0 38px;
  height:409px;
  }

.cta {
  background-color: #585989;
  background-color: hsl(238, 22%, 44%);
  display: flex;
  height: 322px;
  color:#FFFFFF;
  line-height: 1.5;
}

.cta__textbox {
  flex:0 0 720px;
}

.cta__signup {
  flex:0 0 720px;
}

.cta p{
  margin: 0 120px 0 80px;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.cta h2{
  font-family: 'Raleway', sans-serif;
  font-size:32px;
  font-weight: 700;
  letter-spacing:0;
  margin: 100px 0 16px 80px;
}

.cta__signup input {
  background-color: #ffffff;
  box-sizing: border-box;
  color: #C0C0C0;
  font-size:12px;
  letter-spacing: 0;
  display: block;
  height: 3.13px;
  width: 480px;
  height:48px;
  border-radius: 3px;
  border-width: 0;
  border-style: solid;
  box-shadow: 2px 3px 6px 0 hsla(243, 87.3%, 12.4%, 0.16);
  margin: 112px 120px 16px 120px;
  padding:0 0 0 22px;
}

.cta__signup button {
  background-color: #3065f8;
  background-color: hsl(224, 93%, 58%);
  border: none;
  border-radius: 3.13px;
  box-shadow: 2px 3px 6px 0 hsla(243, 87.3%, 12.4%, 0.16);
  color: #ffffff;
  height: 48px;
  width:200px;
  margin: 0 0 0 120px;
  font-family: 'Raleway', sans-serif;
  letter-spacing:0;
  font-weight:700;
  font-size:14px;
  }

.footer {
  background-color: #07043B;
  color: #ffffff;
  height: 391px;
  padding: 105.61px 0 0 75px;
}

.footer-logo {
  filter: brightness(0) invert(1);
  display: block;
  height:51.22px;
  margin:2px 6px 9px 6px;
}

.footer__content {
  display: flex;
  justify-content:flex-start;
  width: 100%;
  color: #ffffff;
}

.footer__contact {
  flex: 0 0 441px;
  padding:0;
}

.footer__left-nav {
  flex: 0 0 269px;
}

.footer__right-nav {
  flex: 0 0 274px;
}

.footer__social-icons {
  flex: 0 0 150px;
  padding-top:16px;
}

.footer__contact--txt  {
  display: inline;
  line-height:1;
}

.footer__contact--phone-icon{
  margin:0 19px 0 0;
  vertical-align: middle;
}

.footer__contact--email-icon{
  margin:0 17px 0 0;
  vertical-align: middle;
}

.footer ul{
  padding:0;
}

.footer li{
  display: block;
  height:22px;
  margin:0 0 16px 8px;
}

.social-icon {
  border-radius: 50%;
  border: solid 1px #ffffff;
  box-sizing:border-box;
  font-size:14px;
  padding-top:8px;
  text-align:center;
  vertical-align: middle;
  margin:3px 8.49px 0 0; /* What is creating the extra margin here? */
  width:31.22px;
  height:31px;
}

.fa-instagram{
  font-size:17px;
  padding-top: 6px;
}















@media screen and (max-width:375px){

  body{
    width:375px;
  }

  header{
    height:48px;
    margin:0 24px 74px 24px;
    padding-top:24.49px ;
  }

  header img{
    height:23.65px;
  }

.main-nav {
  margin: 15px 0 15px 0;
  padding: 0;
  position:absolute;
  right: 0px;
  top: 14px;
  width: 167px;
  height:14px;
}

a {
  font-size:12px;
  /* vertical-align: top; */
}

h1 {
  font-size: 24px;
  /* letter-spacing: 0; /* Necessary?  */
  text-align: center;
  }


.allyourfiles {
  flex-direction:column;
  justify-content: flex-start;
  height:609px;
  margin-bottom: 90px;
}

.allyourfiles__textbox {
  display:flex;
  flex-direction: column;
  align-items:center;
  flex:0 0 320px;
  /* height:384px; */
  margin: 0;
  order:2;
}


.allyourfiles__textbox h1 {
  margin:0 27px 24px 28px;
}

.allyourfiles__textbox p{
  font-size: 14px;
  line-height:1.5;
  letter-spacing: 0;
  text-align:center;
  margin: 0 43px 32px 36px;
}

.allyourfiles__textbox--input {
  box-sizing: border-box;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  color: #bfbfbf;
  letter-spacing: 1px;
  padding: 6px 0 0 20px;
  height: 40px;
  width: 304px;
  margin:0 0 16px 0;
}

.allyourfiles__textbox--btn {
  border: none;
  border-radius: 2px;
  background-color: #3065f8;
  color: white;
  letter-spacing: 1px;
  vertical-align: middle;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height: 40px;
  width: 304px;
}

.allyourfiles__img {
  order:1;
  flex:0 0 225px;
  height: 225px;
  margin: 0 auto 40px;
  padding:0;
}

.curve_img {
  margin: 0 0 0 0;
  display: block;
  width:375px;
}





.stayproductive {
  display: flex;
  flex-direction:column;
  /* justify-content: space-between; */
  margin-bottom: 0;
  height:908px;
}

.stayproductive__txtbox {
  flex: 0 0 700px;
  order:2;
  margin:0;
}

.stayproductive__txtbox h1{
  font-size: 16px;
  margin: 0 55px 24px 56px;
}

.stayproductive--txt{ /*element selector instead?*/
  font-size:14px;
  margin: 0 35px 16px 20px;
  text-align: center;
}
/* TODO: Design jpg venstrestiller, sketch centrerer */

.stayproductive__txtbox a{
  color:#3DA08F;
}

.stayproductive__txtbox img{
  vertical-align: middle;
  /* martini-top:a-ok(y); */
}

.stayproductive__underline {
  border-top: 1px solid #3DA08F;
  width:166px;
  height:1px;
  margin:4px 0 44px 0;
}

.stayproductive__card {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 0 10px 5px hsla(0, 0%, 22%, 0.05);
  font-size: 13px;
  line-height: 1.769;
  letter-spacing: 0.5px;
  width:356px;
  height:215px;
  color:#07043B;
  position:relative;
}

.stayproductive__card--quotesign{
font-family: 'Nunito Sans', sans-serif;
font-size:45px;
color:#07043B;
display:inline-block;
line-height: 1.5;
margin:0;
position:absolute;
top: 11px;
margin: 0 0 0 33px;
}

.stayproductive__card--txt{
  padding: 50px 34px 0 33px;
  margin-bottom:17px;
}

.stayproductive__card__signaturebox {
  display: flex;
}

.stayproductive__card img {
  border-radius: 50%;
  width:32px;
  height:32px;
  margin-left:33px;
}

.stayproductive__card__signaturebox--textbox {
  flex:0 0 300px;
  vertical-align: middle;
}

.stayproductive__card--name {
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.55px;
  margin: 0 0 0 8px;
}

.stayproductive__card--title {
  font-size: 8px;
  letter-spacing:0.55px;
  line-height: 1.875;
  margin: 0 0 0 8px;
}

.stayproductive__img{
  order:1;
  flex:0 0 241px;
  height:241px;
  margin:40px 27px 87px 28px;
  }











.cta {
  background-color: #585989;
  background-color: hsl(238, 22%, 44%);
  display: flex;
  flex-direction: column;
  height: 345px;
  color:#FFFFFF;
  line-height: 1.5;
}

.cta__textbox {
  flex:0 0 720px;
}

.cta__signup {
  flex:0 0 720px;
}

.cta p{
  margin: 0 120px 0 80px;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.cta h2{
  font-family: 'Raleway', sans-serif;
  font-size:32px;
  font-weight: 700;
  letter-spacing:0;
  margin: 100px 0 16px 80px;
}

.cta__signup input {
  background-color: #ffffff;
  box-sizing: border-box;
  color: #C0C0C0;
  font-size:12px;
  letter-spacing: 0;
  display: block;
  height: 3.13px;
  width: 480px;
  height:48px;
  border-radius: 3px;
  border-width: 0;
  border-style: solid;
  box-shadow: 2px 3px 6px 0 hsla(243, 87.3%, 12.4%, 0.16);
  margin: 112px 120px 16px 120px;
  padding:0 0 0 22px;
}

.cta__signup button {
  background-color: #3065f8;
  background-color: hsl(224, 93%, 58%);
  border: none;
  border-radius: 3.13px;
  box-shadow: 2px 3px 6px 0 hsla(243, 87.3%, 12.4%, 0.16);
  color: #ffffff;
  height: 48px;
  width:200px;
  margin: 0 0 0 120px;
  font-family: 'Raleway', sans-serif;
  letter-spacing:0;
  font-weight:700;
  font-size:14px;
  }

.footer {
  height: 683;
  padding: 105.61px 0 0 75px;
}

.footer-logo {
  filter: brightness(0) invert(1);
  display: block;
  height:51.22px;
  margin:2px 6px 9px 6px;
}

.footer__content {
  display: flex;
  justify-content:flex-start;
  width: 100%;
  color: #ffffff;
}

.footer__contact {
  flex: 0 0 441px;
  padding:0;
}

.footer__left-nav {
  flex: 0 0 269px;
}

.footer__right-nav {
  flex: 0 0 274px;
}

.footer__social-icons {
  flex: 0 0 150px;
  padding-top:16px;
}

.footer__contact--txt  {
  display: inline;
  line-height:1;
}

.footer__contact--phone-icon{
  margin:0 19px 0 0;
  vertical-align: middle;
}

.footer__contact--email-icon{
  margin:0 17px 0 0;
  vertical-align: middle;
}

.footer ul{
  padding:0;
}

.footer li{
  display: block;
  height:22px;
  margin:0 0 16px 8px;
}

.social-icon {
  border-radius: 50%;
  border: solid 1px #ffffff;
  box-sizing:border-box;
  font-size:14px;
  padding-top:8px;
  text-align:center;
  vertical-align: middle;
  margin:3px 8.49px 0 0; /* What is creating the extra margin here? */
  width:31.22px;
  height:31px;
}

.fa-instagram{
  font-size:17px;
  padding-top: 6px;
}



} /* END media screen and (max-width:375px) */
