/*@media screen and (min-width: 600px){ CONTENT } /*Change back to 376px*/
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 0 auto;
  max-width: 1440px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

li {
  list-style: none;
  padding: 0 17px;
}

header {
  margin: 50px auto 50px;
  position: relative;
}

.icons {
  background-color: black;
}

.allyourfiles-row {
  margin:100px auto 100px;
  display: table;
  height: 400px;
}

.allyourfiles-row__textbox {
  vertical-align: middle;
  display: table-cell;
  max-width: 40%;
}

.allyourfiles-row__imgbox {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}

.allyourfiles-row__img {
  max-width: 80%;
}

.nav-top {
  display: inline-block;
  margin: 0;
  position: absolute;
  right: 0;
  bottom: 0;
}

.li-top-nav {
  display: inline;
}

.li-bottomleft-nav {
  float: left;
}

.li-bottomright-nav {
  float: right;
}

.stay-productive {
  background-color: green;
}

.stay-productive-img {
  float: right;
  max-width: 50%;
}

.footer-high {
  background-color: hsl(238, 22%, 44%);
  color: white;
}

.footer-low {
  background-color: hsl(243, 87%, 12%);
  color: white;
}
